<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Event-Form</title>
</head>
<body>

       <form action="/portal/reg/" method="post">
       {% csrf_token %}
       <label for="name"> Name </label> <br>
       <input id="name" name="name" type="text"> <br>

       <label for="email"> Email </label> <br>
       <input id="email" name="email" type="email"> <br>

       <label for="event"> Event </label> <br>
       <input id="event" name="event" list="event=ls"> <br>
           <details id="event=ls">
               <option value=" Weeding " > Weeding </option>
           </details>
       <button type="submit" >submit</button>

       </form>

</body>
</html>